.Cover {
  height: 100vh;
  background-image: url("res/header.jpg");
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  background-position: center;
}

.Cover div {
  display: table;
  height: 100%;
  width: 100%;
}

.Cover h1 {
  display: table-cell;
  position: relative;
  top: 20vh;
  text-align: center;

  font-family: "Times New Roman", "Times", serif;
  font-size: 7vw;
}

.Black-hole {
  height: 60px;
}

@media screen and (max-width: 100px) {
  .Cover h1 {
    font-size: 1px;
  }
}
